In [11]:
import StringIO
import pandas as  pd 
from pandas import DataFrame
import numpy as np
df = pd.read_csv('data/cleaned.txt', sep='\t')
df.head(5)

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,STL,BLK,PF,TOV,PTS,YR,POS,W,H,NAME
0,479,81,22.9,4.08,7.65,0.534,0.01,0.04,0.176,2.72,...,0.43,0.41,2.39,1.22,10.89,8,34,112,206,Carl Landry
1,62,0,7.4,0.73,2.26,0.321,0.27,0.97,0.283,0.29,...,0.32,0.05,0.71,0.39,2.02,2,12,84,193,Gabe Pruitt
2,514,120,21.1,3.14,7.03,0.447,0.02,0.11,0.182,1.70,...,0.69,0.34,2.41,1.03,8.00,8,4,131,206,Glen Davis
3,52,2,8.3,1.31,3.08,0.425,0.00,0.00,0.000,0.50,...,0.17,0.35,1.12,0.42,3.12,2,4,104,208,Jermareo Davidson
4,387,164,19.6,2.17,4.56,0.475,0.45,1.34,0.337,0.75,...,0.53,0.48,1.94,0.89,5.53,8,4,109,208,Josh McRoberts

In [12]:
df = df.iloc[np.random.permutation(len(df))]
df.head(5)

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,STL,BLK,PF,TOV,PTS,YR,POS,W,H,NAME
1404,61,3,8.0,1.03,2.92,0.354,0.15,0.41,0.36,0.64,...,0.41,0.02,0.89,0.92,2.85,2,12,84,191,Tyshawn Taylor
486,432,278,31.0,5.76,13.43,0.429,0.14,0.56,0.25,1.97,...,1.06,0.26,2.04,1.58,13.64,8,2,95,201,Ron Mercer
830,786,168,20.4,2.39,5.87,0.407,0.66,1.88,0.35,1.07,...,0.69,0.11,2.16,1.49,6.51,1,12,80,188,Howard Eisley
1338,84,4,9.9,1.30,3.50,0.371,0.23,0.87,0.26,0.48,...,0.30,0.05,0.96,0.85,3.30,2,12,86,188,Nolan Smith
7,70,3,11.1,0.80,1.66,0.483,0.00,0.00,0.00,0.33,...,0.26,0.23,1.90,0.54,1.93,2,34,116,206,Chris Richard

In [13]:
df.to_csv('data3/shuffeled.txt',sep="\t", index=False)